@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
/**

block-name__elem-name--mod-name

- Names are written in lower case.
- Words within the names of BEM entities are separated by a hyphen (-).
- An element name is separated from a block name by a double underscore (__).
- Boolean modifiers are delimited by double hyphens (--).
- Key-value type modifiers are not used

*/
/* line 103, ../scss/main.scss */
* {
  box-sizing: border-box;
}

/* line 107, ../scss/main.scss */
body {
  font-family: 'Montserrat';
  color: #f5f5f5;
  background-color: #383838;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 118, ../scss/main.scss */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #383838;
  padding: 15px;
  height: 55px;
  z-index: 1;
}

/* line 134, ../scss/main.scss */
.brand__link {
  color: #f5f5f5;
  display: flex;
  align-items: center;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
/* line 58, ../scss/main.scss */
.brand__link:hover, .brand__link .hover {
  opacity: 0.7;
}
/* line 66, ../scss/main.scss */
.brand__link:active, .brand__link .active {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
/* line 144, ../scss/main.scss */
.brand__logo {
  width: 25px;
  display: inline-block;
  margin-right: 15px;
}
/* line 149, ../scss/main.scss */
.brand__title {
  font-size: 20px;
  font-weight: 400;
  display: inline-block;
  margin: 0;
}

/* line 157, ../scss/main.scss */
.tools {
  display: flex;
  align-items: center;
}
/* line 161, ../scss/main.scss */
.tools__link {
  color: #9399a5;
  display: inline-block;
  text-decoration: none;
  margin-left: 20px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
/* line 58, ../scss/main.scss */
.tools__link:hover, .tools__link .hover {
  opacity: 0.7;
}
/* line 66, ../scss/main.scss */
.tools__link:active, .tools__link .active {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
/* line 171, ../scss/main.scss */
.tools__icon {
  font-size: 25px;
  display: inline-block;
}
/* line 175, ../scss/main.scss */
.tools__icon--edit {
  top: 1px;
  position: relative;
}

/* line 184, ../scss/main.scss */
.main {
  position: fixed;
  top: 55px;
  bottom: 130px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* line 194, ../scss/main.scss */
.edit {
  position: relative;
  top: 55px;
  padding: 30px;
  padding-bottom: 0px;
}
/* line 200, ../scss/main.scss */
.edit__message {
  font-size: 16px;
  text-align: center;
  margin: 10px 0;
}
/* line 205, ../scss/main.scss */
.edit__message--bold {
  font-weight: 700;
}
/* line 210, ../scss/main.scss */
.edit__form {
  padding-right: 55px;
  position: relative;
}
/* line 72, ../scss/main.scss */
.edit__form:before {
  content: ' ';
  display: table;
}
/* line 77, ../scss/main.scss */
.edit__form:after {
  content: ' ';
  display: table;
  clear: both;
}
/* line 217, ../scss/main.scss */
.edit__field {
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  background-color: #9399a5;
  border-bottom: 1px solid #a1a6b1;
  width: 100%;
  height: 45px;
  padding: 0px 10px;
  float: left;
}
/* line 228, ../scss/main.scss */
.edit__field:focus {
  outline: 0;
}
/* line 85, ../scss/main.scss */
.edit__field::-webkit-input-placeholder {
  color: #686d73;
}
/* line 89, ../scss/main.scss */
.edit__field:-moz-placeholder {
  /* Firefox 18- */
  color: #686d73;
}
/* line 93, ../scss/main.scss */
.edit__field::-moz-placeholder {
  /* Firefox 19+ */
  color: #686d73;
}
/* line 97, ../scss/main.scss */
.edit__field:-ms-input-placeholder {
  color: #686d73;
}
/* line 234, ../scss/main.scss */
.edit__field--primary {
  background-color: #61656B;
  border: none;
}
/* line 85, ../scss/main.scss */
.edit__field--primary::-webkit-input-placeholder {
  color: #9399a5;
}
/* line 89, ../scss/main.scss */
.edit__field--primary:-moz-placeholder {
  /* Firefox 18- */
  color: #9399a5;
}
/* line 93, ../scss/main.scss */
.edit__field--primary::-moz-placeholder {
  /* Firefox 19+ */
  color: #9399a5;
}
/* line 97, ../scss/main.scss */
.edit__field--primary:-ms-input-placeholder {
  color: #9399a5;
}
/* line 244, ../scss/main.scss */
.edit__add {
  -webkit-appearance: none;
  border: none;
  background-color: #484a50;
  height: 135px;
  width: 55px;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 255, ../scss/main.scss */
.edit__add:focus {
  outline: 0;
}
/* line 259, ../scss/main.scss */
.edit__add:active {
  background-color: #414348;
}
/* line 264, ../scss/main.scss */
.edit__cancel {
  -webkit-appearance: none;
  border: none;
  background-color: #61656B;
  height: 45px;
  width: 55px;
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 275, ../scss/main.scss */
.edit__cancel:focus {
  outline: 0;
}
/* line 279, ../scss/main.scss */
.edit__cancel:active {
  background-color: #5a5d63;
}

/* line 285, ../scss/main.scss */
.tags {
  margin-top: 20px;
  overflow: hidden;
}
/* line 72, ../scss/main.scss */
.tags:before {
  content: ' ';
  display: table;
}
/* line 77, ../scss/main.scss */
.tags:after {
  content: ' ';
  display: table;
  clear: both;
}
/* line 290, ../scss/main.scss */
.tags__list {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
/* line 297, ../scss/main.scss */
.tags__item {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  float: left;
  padding: 0px 40px 0px 0px;
  margin: 5px 0;
  width: 100%;
  position: relative;
}
/* line 305, ../scss/main.scss */
.tags__item--active {
  opacity: 0.6;
}
/* line 310, ../scss/main.scss */
.tags__link, .tags__delete {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #f5f5f5;
  line-height: 40px;
}
/* line 315, ../scss/main.scss */
.tags__link:focus, .tags__delete:focus {
  outline: 0;
}
/* line 320, ../scss/main.scss */
.tags__link {
  background-color: #61656B;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  padding: 0 5px 0 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 330, ../scss/main.scss */
.tags__link:active {
  background-color: #5a5d63;
}
/* line 335, ../scss/main.scss */
.tags__delete {
  position: absolute;
  top: 0;
  right: 0px;
  -webkit-appearance: none;
  border: none;
  background-color: #484a50;
  width: 40px;
  padding: 0px;
}
/* line 345, ../scss/main.scss */
.tags__delete:active {
  background-color: #414348;
}

/* line 351, ../scss/main.scss */
.action {
  padding: 40px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 130px;
}
/* line 358, ../scss/main.scss */
.action__link {
  border: 3px solid #f5f5f5;
  border-radius: 40px;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  padding: 10px;
  width: 200px;
  height: 45px;
  color: #f5f5f5;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
/* line 58, ../scss/main.scss */
.action__link:hover, .action__link .hover {
  opacity: 0.7;
}
/* line 66, ../scss/main.scss */
.action__link:active, .action__link .active {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

/* line 376, ../scss/main.scss */
.phrase {
  text-align: center;
  padding: 15px 0 15px 0;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
/* line 66, ../scss/main.scss */
.phrase:active, .phrase .active {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
/* line 383, ../scss/main.scss */
.phrase__subject {
  max-width: 100%;
  display: inline-block;
  word-wrap: break-word;
  margin: 0;
}
/* line 390, ../scss/main.scss */
.phrase__tip {
  margin: 0.5em 0;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 395, ../scss/main.scss */
.phrase__tip--active {
  opacity: 1;
}

/* line 401, ../scss/main.scss */
.pause-indicator {
  padding: 10px;
  position: fixed;
  bottom: 0px;
  right: 0px;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 409, ../scss/main.scss */
.pause-indicator--active {
  opacity: 1;
}
/* line 414, ../scss/main.scss */
.pause-indicator__icon {
  font-size: 12px;
}

/* line 419, ../scss/main.scss */
.menu {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0px;
  left: 0px;
  background-color: #444444;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  overflow: auto;
}
/* line 432, ../scss/main.scss */
.menu.active {
  visibility: visible;
  opacity: 1;
}

/* line 438, ../scss/main.scss */
.settings {
  width: 100%;
  padding: 55px 15px 15px 15px;
  overflow: auto;
}
/* line 443, ../scss/main.scss */
.settings__label {
  text-transform: uppercase;
  font-size: 14px;
}
/* line 448, ../scss/main.scss */
.settings__field {
  margin: 20px 0;
  width: 100%;
}
/* line 454, ../scss/main.scss */
.settings__info--rate {
  display: block;
  text-align: center;
}
/* line 460, ../scss/main.scss */
.settings__help {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: -1;
}
/* line 467, ../scss/main.scss */
.settings__help__letter {
  opacity: 0.5;
}
/* line 470, ../scss/main.scss */
.settings__help__letter--small {
  font-size: 12px;
}
/* line 473, ../scss/main.scss */
.settings__help__letter--large {
  font-size: 20px;
}
/* line 479, ../scss/main.scss */
.settings__input[type=range] {
  margin: 15px 0;
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
  /*hiding appearance*/
  /*thumb*/
}
/* line 486, ../scss/main.scss */
.settings__input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
/* line 490, ../scss/main.scss */
.settings__input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
/* line 499, ../scss/main.scss */
.settings__input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 24px;
  width: 24px;
  border-radius: 100%;
  background: #f5f5f5;
  cursor: pointer;
  margin-top: -8px;
  /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}
/* line 510, ../scss/main.scss */
.settings__input[type=range]::-moz-range-thumb {
  height: 24px;
  width: 24px;
  border-radius: 100%;
  border: none;
  background: #f5f5f5;
  cursor: pointer;
}
/* line 519, ../scss/main.scss */
.settings__input[type=range]::-ms-thumb {
  height: 24px;
  width: 24px;
  border-radius: 100%;
  border: none;
  background: #f5f5f5;
  cursor: pointer;
}
/* line 528, ../scss/main.scss */
.settings__input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  border: none;
  cursor: pointer;
  background: #9399a5;
  border-radius: 4px;
}
/* line 537, ../scss/main.scss */
.settings__input[type=range]::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: #9399a5;
  border-radius: 4px;
}
/* line 545, ../scss/main.scss */
.settings__input[type=range]::-ms-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: #9399a5;
  border-radius: 4px;
}
/* line 553, ../scss/main.scss */
.settings__input[type=range]::-ms-fill-lower {
  background: #9399a5;
}
/* line 558, ../scss/main.scss */
.settings__input[type=range]::-ms-fill-upper {
  background: #9399a5;
}
/* line 563, ../scss/main.scss */
.settings__input[type=range]:focus {
  outline: none;
}
/* line 566, ../scss/main.scss */
.settings__input[type=range]:focus::-webkit-slider-runnable-track {
  background: #9399a5;
}
/* line 569, ../scss/main.scss */
.settings__input[type=range]:focus::-ms-fill-lower {
  background: #9399a5;
}
/* line 572, ../scss/main.scss */
.settings__input[type=range]:focus::-ms-fill-upper {
  background: #9399a5;
}

/* line 579, ../scss/main.scss */
.toggle {
  padding: 20px 20px;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
/* line 586, ../scss/main.scss */
.toggle__link {
  border: 3px solid #f5f5f5;
  border-radius: 40px;
  display: inline-block;
  text-align: center;
  padding: 10px 20px;
  color: #f5f5f5;
  text-transform: uppercase;
  font-size: 16px;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
/* line 58, ../scss/main.scss */
.toggle__link:hover, .toggle__link .hover {
  opacity: 0.7;
}
/* line 66, ../scss/main.scss */
.toggle__link:active, .toggle__link .active {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

/* line 603, ../scss/main.scss */
.team td {
  padding: 10px 5px;
}
/* line 607, ../scss/main.scss */
.team__pos {
  width: 100px;
}
/* line 611, ../scss/main.scss */
.team__link {
  display: inline-block;
  text-align: center;
  color: #f5f5f5;
  text-decoration: underline;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
/* line 58, ../scss/main.scss */
.team__link:hover, .team__link .hover {
  opacity: 0.7;
}
/* line 66, ../scss/main.scss */
.team__link:active, .team__link .active {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

/* line 623, ../scss/main.scss */
.donate {
  padding: 30px 5px;
  display: inline-block;
  text-align: center;
  color: #f5f5f5;
  text-decoration: underline;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
/* line 58, ../scss/main.scss */
.donate:hover, .donate .hover {
  opacity: 0.7;
}
/* line 66, ../scss/main.scss */
.donate:active, .donate .active {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

/* line 634, ../scss/main.scss */
.controls {
  padding: 40px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0px;
  height: 130px;
}
/* line 644, ../scss/main.scss */
.controls__action {
  display: inline-block;
  -webkit-appearance: none;
  text-align: center;
  background: none;
  border: 3px solid #f5f5f5;
  font-size: 16px;
  font-weight: 400;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
/* line 58, ../scss/main.scss */
.controls__action:hover, .controls__action .hover {
  opacity: 0.7;
}
/* line 66, ../scss/main.scss */
.controls__action:active, .controls__action .active {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
/* line 659, ../scss/main.scss */
.controls__action--pulse {
  -webkit-animation: pulse 4s infinite ease;
  animation: pulse 4s infinite ease;
}
/* line 664, ../scss/main.scss */
.controls__action.active, .controls__action:active {
  color: #383838;
  background-color: #f5f5f5;
}
/* line 669, ../scss/main.scss */
.controls__action:focus {
  outline: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  80% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  85% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    background-color: #f5f5f5;
  }
  90% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  80% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    background-color: #383838;
  }
  85% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    background-color: #484a50;
  }
  90% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    background-color: #383838;
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
/* line 718, ../scss/main.scss */
body.theme--light {
  color: #383838;
  background-color: #f5f5f5;
}
/* line 722, ../scss/main.scss */
body.theme--light .header {
  background-color: #f5f5f5;
}
/* line 726, ../scss/main.scss */
body.theme--light .brand__link {
  color: #383838;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
/* line 58, ../scss/main.scss */
body.theme--light .brand__link:hover, body.theme--light .brand__link .hover {
  opacity: 0.7;
}
/* line 66, ../scss/main.scss */
body.theme--light .brand__link:active, body.theme--light .brand__link .active {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
/* line 735, ../scss/main.scss */
body.theme--light .action__link, body.theme--light .toggle__link {
  border-color: #383838;
  color: #383838;
}
/* line 741, ../scss/main.scss */
body.theme--light .menu {
  background-color: #e8e8e8;
}
/* line 748, ../scss/main.scss */
body.theme--light .settings__input[type=range]::-webkit-slider-thumb {
  background: #383838;
}
/* line 752, ../scss/main.scss */
body.theme--light .settings__input[type=range]::-moz-range-thumb {
  background: #383838;
}
/* line 756, ../scss/main.scss */
body.theme--light .settings__input[type=range]::-ms-thumb {
  background: #383838;
}
/* line 760, ../scss/main.scss */
body.theme--light .settings__input[type=range]::-webkit-slider-runnable-track {
  background: #9399a5;
}
/* line 764, ../scss/main.scss */
body.theme--light .settings__input[type=range]::-moz-range-track {
  background: #9399a5;
}
/* line 768, ../scss/main.scss */
body.theme--light .settings__input[type=range]::-ms-track {
  background: #9399a5;
}
/* line 772, ../scss/main.scss */
body.theme--light .settings__input[type=range]::-ms-fill-lower {
  background: #9399a5;
}
/* line 776, ../scss/main.scss */
body.theme--light .settings__input[type=range]::-ms-fill-upper {
  background: #9399a5;
}
/* line 782, ../scss/main.scss */
body.theme--light .settings__input[type=range]:focus::-webkit-slider-runnable-track {
  background: #9399a5;
}
/* line 785, ../scss/main.scss */
body.theme--light .settings__input[type=range]:focus::-ms-fill-lower {
  background: #9399a5;
}
/* line 788, ../scss/main.scss */
body.theme--light .settings__input[type=range]:focus::-ms-fill-upper {
  background: #9399a5;
}
/* line 795, ../scss/main.scss */
body.theme--light .controls__action {
  border-color: #383838;
}
/* line 798, ../scss/main.scss */
body.theme--light .controls__action.active, body.theme--light .controls__action:active {
  color: #f5f5f5;
  background-color: #383838;
}
/* line 804, ../scss/main.scss */
body.theme--light .team__link {
  color: #383838;
}
/* line 807, ../scss/main.scss */
body.theme--light .donate {
  color: #383838;
}
/* line 812, ../scss/main.scss */
body.theme--light .edit__field {
  color: #383838;
  background-color: #e8e8e8;
  border-color: #f5f5f5;
}
/* line 817, ../scss/main.scss */
body.theme--light .edit__field--primary {
  background-color: #9399a5;
}
/* line 85, ../scss/main.scss */
body.theme--light .edit__field--primary::-webkit-input-placeholder {
  color: #e8e8e8;
}
/* line 89, ../scss/main.scss */
body.theme--light .edit__field--primary:-moz-placeholder {
  /* Firefox 18- */
  color: #e8e8e8;
}
/* line 93, ../scss/main.scss */
body.theme--light .edit__field--primary::-moz-placeholder {
  /* Firefox 19+ */
  color: #e8e8e8;
}
/* line 97, ../scss/main.scss */
body.theme--light .edit__field--primary:-ms-input-placeholder {
  color: #e8e8e8;
}
/* line 822, ../scss/main.scss */
body.theme--light .edit__add {
  color: #f5f5f5;
}
/* line 826, ../scss/main.scss */
body.theme--light .edit__cancel {
  background-color: #9399a5;
}
/* line 829, ../scss/main.scss */
body.theme--light .edit__cancel:active {
  background-color: #8b919e;
}
/* line 836, ../scss/main.scss */
body.theme--light .tags__link, body.theme--light .tags__delete {
  color: #f5f5f5;
}
/* line 840, ../scss/main.scss */
body.theme--light .tags__link {
  background-color: #9399a5;
}
/* line 843, ../scss/main.scss */
body.theme--light .tags__link:active {
  background-color: #8b919e;
}

/* line 851, ../scss/main.scss */
.loader {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background-color: #383838;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 15px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 866, ../scss/main.scss */
.loader--hidden {
  opacity: 0;
  visibility: hidden;
}
/* line 872, ../scss/main.scss */
.loader__logo {
  display: inline-block;
}
/* line 876, ../scss/main.scss */
.loader__logo--pulse {
  width: 25px;
  -webkit-animation: shrink 4s ease;
  animation: shrink 4s ease;
}

@-webkit-keyframes shrink {
  0% {
    width: 130px;
    -webkit-transform: translate(calc(50vw - 80px), calc(50vh - 80px)) scale(1);
    -moz-transform: translate(calc(50vw - 80px), calc(50vh - 80px)) scale(1);
    -o-transform: translate(calc(50vw - 80px), calc(50vh - 80px)) scale(1);
    transform: translate(calc(50vw - 80px), calc(50vh - 80px)) scale(1);
  }
  80% {
    width: 130px;
    -webkit-transform: translate(calc(50vw - 80px), calc(50vh - 80px)) scale(1);
    -moz-transform: translate(calc(50vw - 80px), calc(50vh - 80px)) scale(1);
    -o-transform: translate(calc(50vw - 80px), calc(50vh - 80px)) scale(1);
    transform: translate(calc(50vw - 80px), calc(50vh - 80px)) scale(1);
  }
  100% {
    width: 25px;
    -webkit-transform: translate(0, 0) scale(1);
    -moz-transform: translate(0, 0) scale(1);
    -o-transform: translate(0, 0) scale(1);
    transform: translate(0, 0) scale(1);
  }
}
@keyframes shrink {
  0% {
    width: 130px;
    -webkit-transform: translate(calc(50vw - 80px), calc(50vh - 80px)) scale(1);
    -moz-transform: translate(calc(50vw - 80px), calc(50vh - 80px)) scale(1);
    -o-transform: translate(calc(50vw - 80px), calc(50vh - 80px)) scale(1);
    transform: translate(calc(50vw - 80px), calc(50vh - 80px)) scale(1);
  }
  80% {
    width: 130px;
    -webkit-transform: translate(calc(50vw - 80px), calc(50vh - 80px)) scale(1);
    -moz-transform: translate(calc(50vw - 80px), calc(50vh - 80px)) scale(1);
    -o-transform: translate(calc(50vw - 80px), calc(50vh - 80px)) scale(1);
    transform: translate(calc(50vw - 80px), calc(50vh - 80px)) scale(1);
  }
  100% {
    width: 25px;
    -webkit-transform: translate(0, 0) scale(1);
    -moz-transform: translate(0, 0) scale(1);
    -o-transform: translate(0, 0) scale(1);
    transform: translate(0, 0) scale(1);
  }
}
/* line 917, ../scss/main.scss */
.intro-slide {
  display: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #383838;
  position: fixed;
  opacity: 1;
  visibility: visible;
  height: 100vh;
  width: 100vw;
  z-index: 98;
  top: 0;
  bottom: 0;
}
/* line 930, ../scss/main.scss */
.intro-slide--hidden {
  opacity: 0;
  background-color: #444444;
  visibility: hidden;
  -webkit-transform: translate(40%, 0);
  -moz-transform: translate(40%, 0);
  -o-transform: translate(40%, 0);
  transform: translate(40%, 0);
}
/* line 937, ../scss/main.scss */
.intro-slide__inner {
  position: relative;
  height: 100vh;
  width: 100vw;
}
/* line 943, ../scss/main.scss */
.intro-slide__content {
  text-align: center;
}
