@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);


/**

block-name__elem-name--mod-name

- Names are written in lower case.
- Words within the names of BEM entities are separated by a hyphen (-).
- An element name is separated from a block name by a double underscore (__).
- Boolean modifiers are delimited by double hyphens (--).
- Key-value type modifiers are not used

*/

$bg-dark: #383838;
$bg-input: #484a50;
$bg-input-med: #61656B;
$bg-input-light: #9399a5;
$bg-light: #444444;
$tool-color: #9399a5;
$text-color: #f5f5f5;
$highlight: #e699d7;


@mixin transition($transition){
	-webkit-transition: $transition;
    -moz-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}

@mixin scale($scale){
	-webkit-transform: scale($scale);
    -moz-transform: scale($scale);
    -o-transform: scale($scale);
    transform: scale($scale);
}

@mixin translate($x, $y){
	-webkit-transform: translate($x, $y);
    -moz-transform: translate($x, $y);
    -o-transform: translate($x, $y);
    transform: translate($x, $y);
}

@mixin scale-translate($x, $y, $scale){
	-webkit-transform: translate($x, $y) scale($scale);
    -moz-transform: translate($x, $y) scale($scale);
    -o-transform: translate($x, $y) scale($scale);
    transform: translate($x, $y) scale($scale);
}

@mixin fade-hover(){
	opacity: 1;

	&:hover, .hover{
		opacity: 0.7;
	}
}

@mixin grow-click(){
	@include scale(1);

	&:active, .active{
		@include scale(1.1);
	}
}

@mixin clearfix(){
	&:before{
		content: ' ';
		display: table;
	}

	&:after{
		content: ' ';
		display: table;
		clear: both;
	}
}

@mixin placeholder-color($color){
	&::-webkit-input-placeholder {
	   color: $color;
	}

	&:-moz-placeholder { /* Firefox 18- */
	   color: $color;
	}

	&::-moz-placeholder {  /* Firefox 19+ */
	   color: $color;  
	}

	&:-ms-input-placeholder {  
	   color: $color;
	}
}


*{
	box-sizing: border-box;
}

body{
	font-family: 'Montserrat';
	color: $text-color;
	background-color: $bg-dark;

	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}


.header{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: $bg-dark;
	padding: 15px;
	height: 55px;
	z-index: 1;

}

.brand{
	&__link{
		color: $text-color;
		display: flex;
		align-items: center;
		text-decoration: none;
		@include transition(all 0.3s ease);
		@include fade-hover();
		@include grow-click();
		
	}
	&__logo{
		width: 25px;
		display: inline-block;
		margin-right: 15px;
	}
	&__title{
		font-size: 20px;
		font-weight: 400;
		display: inline-block;
		margin: 0;
	}
}

.tools{
	display: flex;
	align-items: center;

	&__link{
		color: $tool-color;
		display: inline-block;
		text-decoration: none;
		margin-left: 20px;
		@include transition(all 0.3s ease);
		@include fade-hover();
		@include grow-click();
	}

	&__icon{
		font-size: 25px;
		display: inline-block;

		&--edit{
			top: 1px;
    		position: relative;
		}
	}
}



.main{
	position: fixed;
	top: 55px;
	bottom: 130px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.edit{
	position: relative;
	top: 55px;
	padding: 30px;
	padding-bottom: 0px;

	&__message{
		font-size: 16px;
		text-align: center;
		margin: 10px 0;

		&--bold{
			font-weight: 700;
		}
	}

	&__form{
		padding-right: 55px;
		position: relative;
		@include clearfix();

	}

	&__field{
		border: none;
		border-radius: 0;
		-webkit-appearance: none;
		background-color: $bg-input-light;
		border-bottom: 1px solid lighten($bg-input-light, 5%);
		width: 100%;
		height: 45px;
		padding: 0px 10px; 
		float: left;

		&:focus{
			outline: 0;
		}

		@include placeholder-color(lighten($bg-input-med, 3%));

		&--primary{
			background-color: $bg-input-med;
			border: none;

			@include placeholder-color($bg-input-light);
		}

		
	}

	&__add{
		-webkit-appearance: none;
		border: none;
		background-color: $bg-input;
		height: 135px;
		width: 55px;
		position: absolute;
		top:0;
		right:0;
		@include transition(all 0.3s ease);

		&:focus{
			outline: 0;
		}

		&:active{
			background-color: darken($bg-input, 3%);
		}
	}

	&__cancel{
		-webkit-appearance: none;
		border: none;
		background-color: $bg-input-med;
		height: 45px;
		width: 55px;
		position: absolute;
		bottom:0;
		right:0;
		@include transition(all 0.3s ease);

		&:focus{
			outline: 0;
		}

		&:active{
			background-color: darken($bg-input-med, 3%);
		}
	}
}

.tags{
	margin-top: 20px;
	overflow: hidden;
	@include clearfix();

	&__list{
		list-style-type: none;
		padding: 0px;
		margin: 0px;
		
	}

	&__item{
		@include transition(all 0.3s ease);
		float: left;
		padding: 0px 40px 0px 0px;
		margin: 5px 0;
		width: 100%;
		position: relative;

		&--active{
			opacity: 0.6;
		}
	}

	&__link, &__delete{
		@include transition(all 0.3s ease);
		color: $text-color;
		line-height: 40px;

		&:focus{
			outline: 0;
		}
	}

	&__link{
		background-color: $bg-input-med;
		text-decoration: none;
		display: inline-block;
		width: 100%;
		padding: 0 5px 0 10px;
		white-space: nowrap;
	  	overflow: hidden;
	  	text-overflow: ellipsis;

	  	&:active{
			background-color: darken($bg-input-med, 3%);
		}
	}

	&__delete{
		position: absolute;
		top: 0;
		right: 0px;
		-webkit-appearance: none;
		border: none;
		background-color: $bg-input;
		width: 40px;
		padding: 0px;

		&:active{
			background-color: darken($bg-input, 3%);
		}
	}
}

.action{
	padding: 40px;
	display: flex;
	justify-content: space-around;
	width: 100%;
	height: 130px;

	&__link{
		border: 3px solid $text-color;
		border-radius: 40px;
		display: inline-block;
		text-align: center;
		font-size: 16px;
		text-transform: uppercase;
		padding: 10px;
		width: 200px;
		height: 45px;
		color: $text-color;
		text-decoration: none;
		@include transition(all 0.3s ease);
		@include fade-hover();
		@include grow-click();	
	}
}

.phrase{
	text-align: center;
	padding: 15px 0 15px 0;
	cursor: pointer;
	@include transition(all 0.3s ease);
	@include grow-click();

	&__subject{
		max-width: 100%;
		display: inline-block;
		word-wrap: break-word;
		margin: 0;
	}

	&__tip{
		margin: 0.5em 0;
		opacity: 0;
		@include transition(all 0.3s ease);

		&--active{
			opacity: 1;
		}
	}
}

.pause-indicator{
	padding: 10px;
	position: fixed;
	bottom:0px;
	right: 0px;
	opacity: 0;
	@include transition(all 0.3s ease);

	&--active{
		opacity: 1;
	}


	&__icon{
		font-size: 12px;
	}
}

.menu{
	@include transition(all 0.3s ease);
	position: fixed;
	height: 100vh;
	width: 100vw;
	top: 0px;
	left: 0px;
	background-color: $bg-light;
	visibility: hidden;
	opacity: 0;
	z-index: 1;
	overflow: auto;

	&.active{
		visibility: visible;
		opacity: 1;
	}
}

.settings{
	width: 100%;
	padding: 55px 15px 15px 15px;
	overflow: auto;

	&__label{
		text-transform: uppercase;
		font-size: 14px;
	}

	&__field{
		margin: 20px 0;
		width: 100%;
	}

	&__info{
		&--rate{
			display: block;
			text-align: center;
		}
	}

	&__help{
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		z-index: -1;

		&__letter{
			opacity: 0.5;

			&--small{
				font-size: 12px;
			}
			&--large{
				font-size: 20px;
			}
		}
	}

	&__input[type=range]{
		margin: 15px 0;
		-webkit-appearance: none;
 		width: 100%;
 		background: transparent;

		/*hiding appearance*/
		&::-webkit-slider-thumb {
			-webkit-appearance: none;
		}

		&::-ms-track {
			width: 100%;
			cursor: pointer;
			background: transparent; 
			border-color: transparent;
			color: transparent;
		}

		/*thumb*/
		&::-webkit-slider-thumb {
			-webkit-appearance: none;
			border: none;
			height: 24px;
			width: 24px;
			border-radius: 100%;
			background: $text-color;
			cursor: pointer;
			margin-top: -8px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
		}

		&::-moz-range-thumb {
			height: 24px;
			width: 24px;
			border-radius: 100%;
			border: none;
			background: $text-color;
			cursor: pointer;
		}

		&::-ms-thumb {
			height: 24px;
			width: 24px;
			border-radius: 100%;
			border: none;
			background: $text-color;
			cursor: pointer;
		}

		&::-webkit-slider-runnable-track {
			width: 100%;
			height: 8px;
			border: none;
			cursor: pointer;
			background: $bg-input-light;
			border-radius: 4px;
		}

		&::-moz-range-track {
			width: 100%;
			height: 8px;
			cursor: pointer;
			background: $bg-input-light;
			border-radius: 4px;
		}

		&::-ms-track {
			width: 100%;
			height: 8px;
			cursor: pointer;
			background: $bg-input-light;
			border-radius: 4px;
		}

		&::-ms-fill-lower {
			background: $bg-input-light;
			
		}
		
		&::-ms-fill-upper {
			background: $bg-input-light;
			
		}

		&:focus {
			outline: none; 

			&::-webkit-slider-runnable-track {
				background: $bg-input-light;
			}
			&::-ms-fill-lower {
				background: $bg-input-light;
			}
			&::-ms-fill-upper {
				background: $bg-input-light;
			}
		}
	}
}

.toggle{
	padding: 20px 20px;
	display: flex;
	justify-content: space-around;
	width: 100%;
	

	&__link{
		border: 3px solid $text-color;
		border-radius: 40px;
		display: inline-block;
		text-align: center;
		padding: 10px 20px;
		color: $text-color;
		text-transform: uppercase;
		font-size: 16px;
		text-decoration: none;
		@include transition(all 0.3s ease);
		@include fade-hover();
		@include grow-click();	
	}
}

.team{
	td{
		padding: 10px 5px;
	}

	&__pos{
		width: 100px;
	}

	&__link{
		display: inline-block;
		text-align: center;
				
		color: $text-color;
		text-decoration: underline;
		@include transition(all 0.3s ease);
		@include fade-hover();
		@include grow-click();	
	}
}

.donate{
	padding: 30px 5px;
	display: inline-block;
	text-align: center;
	color: $text-color;
	text-decoration: underline;
	@include transition(all 0.3s ease);
	@include fade-hover();
	@include grow-click();	
}

.controls{
	padding: 40px;
	display: flex;
	justify-content: space-around;
	width: 100%;
	position: fixed;
	bottom:0px;
	left:0px;
	height: 130px;
	
	&__action{
		display: inline-block;
		-webkit-appearance: none;
		text-align: center;
		background: none;
		border: 3px solid $text-color;	
		font-size: 16px;
		font-weight: 400;
		width: 50px;
		height: 50px;
		border-radius: 100%;
		@include transition(all 0.3s ease);
		@include fade-hover();
		@include grow-click();

		&--pulse{
			-webkit-animation: pulse 4s infinite ease;
			 animation: pulse 4s infinite ease;
		}

		&.active, &:active{
			color: $bg-dark;
			background-color: $text-color;
		}

		&:focus{
			outline: none;
		}
	}
}

@-webkit-keyframes pulse {
 0% {  	
    @include scale(1);
  }
  80%{	
    @include scale(1);
  }
  85%{
  	@include scale(1.1);
  	background-color: $text-color;
  }
  90%{
 	@include scale(1);
  }
  100% {
    @include scale(1);
  }
}
@keyframes pulse {
  0% {  	
    @include scale(1);
  }
  80%{	
    @include scale(1);
    background-color: $bg-dark;
  }
  85%{
  	@include scale(1.1);
  	background-color: $bg-input;
  }
  90%{
 	@include scale(1);
 	background-color: $bg-dark;
  }
  100% {
    @include scale(1);
  }
}





body.theme--light{
	color: $bg-dark;
	background-color: $text-color;

	.header{
		background-color: $text-color;
	}

	.brand__link{
		color: $bg-dark;
		@include transition(all 0.3s ease);
		@include fade-hover();
		@include grow-click();
	}

	

	.action__link, .toggle__link{
		border-color: $bg-dark;
		color: $bg-dark;
	}


	.menu{
		background-color: darken($text-color, 5%);
	}

	.settings{
		&__input[type=range]{
		
			&::-webkit-slider-thumb {
				background: $bg-dark;	
			}

			&::-moz-range-thumb {
				background: $bg-dark;
			}

			&::-ms-thumb {
				background: $bg-dark;
			}

			&::-webkit-slider-runnable-track {
				background: $bg-input-light;	
			}

			&::-moz-range-track {
				background: $bg-input-light;
			}

			&::-ms-track {
				background: $bg-input-light;
			}

			&::-ms-fill-lower {
				background: $bg-input-light;	
			}
			
			&::-ms-fill-upper {
				background: $bg-input-light;
				
			}

			&:focus {
				&::-webkit-slider-runnable-track {
					background: $bg-input-light;
				}
				&::-ms-fill-lower {
					background: $bg-input-light;
				}
				&::-ms-fill-upper {
					background: $bg-input-light;
				}
			}
		}
	}

	.controls__action{
		border-color: $bg-dark;	

		&.active, &:active{
			color: $text-color;
			background-color: $bg-dark;
		}
	}

	.team__link{
		color: $bg-dark;
	}
	.donate{
		color: $bg-dark;
	}

	.edit{
		&__field{
			color: $bg-dark;
			background-color: darken($text-color, 5%);
			border-color: $text-color;

			&--primary{
				background-color: $bg-input-light;
				@include placeholder-color(darken($text-color, 5%));
			}
		}
		&__add{
			color: $text-color;
		}

		&__cancel{
			background-color: $bg-input-light;
		
			&:active{
				background-color: darken($bg-input-light, 3%);
			}
		}
	}

	.tags{
		&__link, &__delete{
			color: $text-color;
		}

		&__link{
			background-color: $bg-input-light;

		  	&:active{
				background-color: darken($bg-input-light, 3%);
			}
		}

	}
}

.loader{
	height: 100vh;
	width: 100vw;
	position: fixed;
	z-index: 99;
	opacity:1;
	visibility: visible;
	background-color: $bg-dark;
	left:0;
	top:0;
	bottom:0;
	right:0;
	padding: 15px;
	@include transition(all 0.3s ease);

	&--hidden{
		opacity: 0;
		visibility: hidden;
	}


	&__logo{
		display: inline-block;
		

		&--pulse{
			width: 25px;

			-webkit-animation: shrink 4s ease;
			 animation: shrink 4s ease;
		}
	}
}


@-webkit-keyframes shrink {
  0% {
  	width: 130px;
    @include scale-translate(calc(50vw - 80px), calc(50vh - 80px), 1);
  }
  80%{
  	width: 130px;
    @include scale-translate(calc(50vw - 80px), calc(50vh - 80px), 1);
  }
  100% {
  	width: 25px;
    @include scale-translate(0, 0, 1);
  }
}
@keyframes shrink {
  0% {
  	width: 130px;
    @include scale-translate(calc(50vw - 80px), calc(50vh - 80px), 1);
  }

  80%{
  	width: 130px;
    @include scale-translate(calc(50vw - 80px), calc(50vh - 80px), 1);
  }
  100% {
  	width: 25px;
    @include scale-translate(0, 0, 1);
  }
}


.intro-slide{
	display: none;
	@include transition(all 0.3s ease);
	background-color: $bg-dark;
	position: fixed;
	opacity: 1;
	visibility: visible;
	height: 100vh;
	width: 100vw;
	z-index: 98;
	top: 0;
	bottom: 0;

	&--hidden{
		opacity: 0;
		background-color: $bg-light;
		visibility: hidden;
		@include translate(40%, 0);
	}

	&__inner{
		position: relative;
		height: 100vh;
		width: 100vw;
	}

	&__content{
		text-align: center;
	}
}


